- name: Refresh the code templates from upstream
  hosts: localhost
  vars:
    # developer hub templates
    templates_repo_group: "rhdh"
    templates_repo_name: "lab2255-templates"
    templates_repo_url: "https://github.com/rhadp-example-repos/lab2255-templates"
    templates_repo_branch: "develop"

    # set the following to control the install/uninstall process
    silent: false
    become_override: false
  
  tasks:

    - name: uninstall the code templates
      vars:
        ACTION: "UNINSTALL" # INSTALL, UNINSTALL, UPDATE
      include_role:
        name: roles/import_repos

    - name: import the code templates
      vars:
        ACTION: "INSTALL" # INSTALL, UNINSTALL, UPDATE
      include_role:
        name: roles/import_repos